
//Telegram Bot Token and Port
TELEGRAM_BOT_TOKEN=
PORT=

//Database connection parameters
SUPABASE_HOST=
SUPABASE_USER=
SUPABASE_PASSWORD=
SUPABASE_DATABASE=
SUPABASE_PORT=

//LLM API Key
GEMINI_API_KEY=
